body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-anton: Anton;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-2xl: 21px;
  --font-size-89xl: 108px;
  --font-size-131xl: 150px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-silver: #a1bba8;
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(227, 227, 227, 0.16);
  --color-gray: rgba(0, 0, 0, 0.27);

  /* Border radiuses */
  --br-11xl: 30px;
  --br-mini: 15px;
}
