.produto-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  width: 1440px;
  height: 1024px;
}
.produtos {
  position: absolute;
  top: 86px;
  left: 87px;
  font-size: var(--font-size-131xl);
  font-family: var(--font-anton);
  display: flex;
  align-items: center;
  width: 653px;
  height: 166px;
}
.input-img,
.result {
  position: absolute;
  top: 271px;
  left: 87px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 633px;
  height: 410px;
}
.result {
  top: 731px;
  height: 187px;
}
.mockup-produto-icon {
  position: absolute;
  top: 77px;
  left: 816px;
  width: 482px;
  height: 932px;
  object-fit: cover;
}
.btn-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-silver);
  width: 116.28px;
  height: 51px;
}
.arrow-icon {
  top: 0;
  left: 62.22px;
  width: 33.66px;
  height: 30.6px;
}
.arrow-icon,
.content,
.criar {
  position: absolute;
}
.criar {
  top: calc(50% - 9.18px);
  left: 0;
  display: flex;
  align-items: center;
  width: 51px;
  height: 19.38px;
}
.content {
  top: 10.2px;
  left: 14.28px;
  width: 95.88px;
  height: 30.6px;
}
.arrow-icon1,
.btn,
.criar-produto {
  position: absolute;
  top: 0;
  left: 0;
  width: 116.28px;
  height: 51px;
}
.arrow-icon1,
.criar-produto {
  top: 609px;
  left: 584px;
}
.arrow-icon1 {
  top: 0;
  left: -0.74px;
  width: 33.3px;
  height: 30.6px;
}
.voltar {
  position: absolute;
  top: calc(50% - 10.3px);
  left: 50px;
  display: flex;
  align-items: center;
  width: 51px;
  height: 19.38px;
}
.content1,
.voltar-produto {
  position: absolute;
  top: 11px;
  left: 7px;
  width: 101px;
  height: 30.6px;
}
.voltar-produto {
  top: 755px;
  left: 97px;
  width: 116.28px;
  height: 51px;
}
.livro-item,
.produto {
  position: absolute;
  top: 3071px;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.livro-item {
  top: 0;
  background: linear-gradient(
    116.82deg,
    rgba(0, 51, 86, 0.88),
    rgba(0, 51, 86, 0.3) 54.17%,
    rgba(217, 217, 217, 0)
  );
}
.livros {
  position: absolute;
  top: 86px;
  left: 55px;
  font-size: var(--font-size-131xl);
  font-family: var(--font-anton);
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 653px;
  height: 166px;
}
.input-img1,
.input-text {
  position: absolute;
  top: 271px;
  left: 60px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 640px;
  height: 410px;
}
.input-text {
  top: 397px;
  left: 0;
  height: 187px;
}
.input-child {
  position: absolute;
  top: 0;
  left: calc(50% - 191.6px);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px dashed var(--color-gray);
  box-sizing: border-box;
  width: 384.2px;
  height: 201px;
}
.input,
.result1 {
  position: absolute;
  top: 334px;
  left: 60px;
  width: 640px;
  height: 584px;
}
.result1 {
  top: 104px;
  left: 743px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 627px;
  height: 814px;
}
.criar-livro,
.voltar-livro {
  position: absolute;
  top: 746px;
  left: 72px;
  width: 116.28px;
  height: 51px;
}
.criar-livro {
  top: 605px;
  left: 562px;
}
.instagram-child,
.livro {
  position: absolute;
  top: 2047px;
  left: 0;
  width: 1440px;
  height: 1024px;
}
.instagram-child {
  top: 0;
  background: linear-gradient(
    102.46deg,
    #a1bba8,
    rgba(187, 201, 191, 0.54) 54.17%,
    rgba(217, 217, 217, 0)
  );
}
.instagram1 {
  position: absolute;
  top: 86px;
  left: 60px;
  font-size: var(--font-size-131xl);
  color: var(--color-white);
  display: flex;
  align-items: center;
  width: 640px;
  height: 166px;
}
.input1 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 401px;
}
.box,
.input1,
.result2 {
  position: absolute;
  width: 640px;
}
.result2 {
  top: 445px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  height: 257px;
}
.box {
  top: 271px;
  left: 60px;
  height: 702px;
}
.instagra-mockup-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 467px;
  height: 958px;
  object-fit: cover;
}
.image-output {
  position: absolute;
  top: 272px;
  left: 23px;
  background-color: var(--color-gainsboro-100);
  width: 418px;
  height: 419px;
}
#image_output_id{
  width: 418.10px;
  height: 419px;
  background-color: var(--color-gainsboro-100);
}
.text-output {
  position: absolute;
  top: 769px;
  left: 47px;
  display: inline-block;
  width: 381px;
  height: 65px;
  font-size: 160%;
  font-family:Arial, Helvetica, sans-serif;
}
.output-insta {
  position: absolute;
  top: 33px;
  left: 861px;
  width: 467px;
  height: 958px;
  font-size: 10px;
}
.input-insta {
  position: absolute;
  top: 353px;
  left: calc(50% - 620px);
  border-radius: var(--br-mini);
  background-color: var(--color-gainsboro-200);
  border: 1px dashed var(--color-gray);
  box-sizing: border-box;
  width: 384.2px;
  height: 201px;
}
#adjetivo{
  position: absolute;
  top: 358px;
  left: calc(50% - 199px);
}
.criar-insta,
.instagram,
.voltar-insta {
  position: absolute;
  top: 591px;
  left: 555px;
  width: 116.28px;
  height: 51px;
  font-family: var(--font-inter);
}
.instagram,
.voltar-insta {
  top: 741px;
  left: 72px;
}
.instagram {
  top: 1023px;
  left: 0;
  width: 1440px;
  height: 1024px;
  font-family: var(--font-anton);
}
.bg,
.title-child {
  position: absolute;
  top: 0;
  left: 0;
}
.bg {
  background: conic-gradient(
    from 240.54deg at 50% 50%,
    rgba(1, 28, 47, 0.1) -3.4deg,
    rgba(241, 115, 0, 0.1) 35.68deg,
    rgba(161, 187, 168, 0.1) 187.85deg,
    rgba(1, 28, 47, 0.1) 356.6deg,
    rgba(241, 115, 0, 0.1) 395.68deg
  );
  width: 1440px;
  height: 1024px;
}
.title-child {
  border-radius: var(--br-11xl);
  background: linear-gradient(
    92.81deg,
    rgba(22, 200, 244, 0),
    rgba(0, 51, 86, 0.3) 0.01%,
    #fff 0.02%,
    rgba(241, 115, 0, 0.13) 42.19%,
    rgba(0, 51, 86, 0.59)
  );
  border: 1px solid rgba(241, 115, 0, 0.1);
  box-sizing: border-box;
  width: 640px;
  height: 159px;
}
.labeltalks {
  position: absolute;
  top: calc(50% - 0.5px);
  left: calc(50% - 252px);
  letter-spacing: -0.03em;
  line-height: 0%;
}
.title {
  position: absolute;
  top: 62px;
  left: 740px;
  width: 640px;
  height: 159px;
  text-align: center;
  font-size: 123px;
}
.bg-child,
.bg-item {
  border-radius: var(--br-11xl);
}
.bg-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 704px;
  object-fit: cover;
}
.bg-item {
  background: linear-gradient(
    126.67deg,
    #a1bba8 26.55%,
    rgba(231, 157, 89, 0.24) 73.96%,
    rgba(217, 217, 217, 0)
  );
}
.bg-item,
.bg1,
.instagram2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 704px;
}
.instagram2 {
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  width: 436px;
  height: 95px;
}
.envie-fotos-para-container1 {
  line-break: anywhere;
  width: 100%;
}
.envie-fotos-para-container {
  position: absolute;
  top: 111px;
  left: 0;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.04em;
  display: flex;
  align-items: center;
  width: 316px;
  height: 45px;
  font-family: var(--font-inter);
}
.btn-child2,
.text {
  position: absolute;
  top: 40px;
  left: 73px;
  width: 436px;
  height: 156px;
}
.btn-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 114px;
  height: 50px;
}
.arrow-icon6 {
  position: absolute;
  top: 0;
  left: 61px;
  width: 33px;
  height: 30px;
}
.criar3 {
  position: absolute;
  top: calc(50% - 9px);
  left: 0;
}
.btn6,
.content6 {
  position: absolute;
  top: 10px;
  left: 14px;
  width: 94px;
  height: 30px;
}
.btn6 {
  top: 634px;
  left: 453px;
  width: 114px;
  height: 50px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.bg-icon,
.div-instagram {
  position: absolute;
  top: 260px;
  left: 740px;
  width: 640px;
  height: 704px;
}
.bg-icon {
  top: 0;
  left: 0;
  height: 343px;
  object-fit: cover;
}
.tire-fotos-de-container {
  position: absolute;
  top: 110px;
  left: 0;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 316px;
  height: 45px;
}
.livros1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-89xl);
  letter-spacing: -0.03em;
  font-family: var(--font-anton);
  display: flex;
  align-items: center;
  width: 272px;
  height: 97px;
}
.btn7,
.text1 {
  position: absolute;
  top: 39px;
  left: 72px;
  width: 316px;
  height: 155px;
}
.btn7 {
  top: 273px;
  left: 453px;
  width: 114px;
  height: 50px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.div-livros {
  position: absolute;
  top: 621px;
  left: 60px;
  width: 640px;
  height: 343px;
  font-size: var(--font-size-2xl);
  font-family: var(--font-inter);
}
.bg-child1,
.bg-inner {
  border-radius: var(--br-11xl);
}
.bg-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 520px;
  object-fit: cover;
}
.bg-child1 {
  background: linear-gradient(
    126.67deg,
    #f17300 23.96%,
    rgba(231, 157, 89, 0.24) 75.52%,
    rgba(217, 217, 217, 0)
  );
}
.bg-child1,
.bg2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 520px;
}
.envie-fotos-de-container,
.produtos1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
  width: 494px;
  height: 100px;
}
.envie-fotos-de-container {
  top: 116px;
  font-size: var(--font-size-2xl);
  letter-spacing: 0.04em;
  width: 382px;
  height: 67px;
  font-family: var(--font-inter);
}
.text2 {
  position: absolute;
  top: 40px;
  left: 73px;
  width: 494px;
  height: 183px;
}
.btn-child4,
.btn8 {
  position: absolute;
  width: 116.28px;
  height: 51px;
}
.btn-child4 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
}
.btn8 {
  top: 450px;
  left: 451px;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.div-produtos,
.home {
  position: absolute;
  top: 61px;
  left: 60px;
  width: 640px;
  height: 520px;
}
.home {
  top: -1px;
  left: 0;
  width: 1440px;
  height: 1024px;
  font-size: var(--font-size-89xl);
  color: var(--color-white);
  font-family: var(--font-anton);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 4096px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
